<div class="home-basic-input">
    <div class="link">
        <a href="https://semantic-ui.com/elements/input.html" target="_blank">https://semantic-ui.com/elements/input.html</a>
    </div>
    <div>
        <div class="ui input">
            <input type="text" placeholder="Enter Name">
        </div>
        <pre>
            &lt;div class=&quot;ui input focus&quot;&gt;
            &lt;input type=&quot;text&quot; placeholder=&quot;Search...&quot;&gt;
            &lt;/div&gt;
        </pre>
    </div>
</div>