:host {
    display: block;
}

.home-basic-input {
    width: 100%;
    .link {
        text-align: center;
        margin-bottom: 20px;
    }
    pre {
        margin: 10px 0 0 0px;
    }
}

.basic-input {
    margin-bottom: 10px;
}
