<div class="ui secondary pointing menu">
    <a class="item" routerLink="./input" routerLinkActive="active">
        Input
    </a>
    <a class="item" routerLink="./radio" routerLinkActive="active">
        Radio
    </a>
    <a class="item" routerLink="./checkbox" routerLinkActive="active">
        Checkbox
    </a>
    <div class="right menu">
        <a class="ui item" routerLink="">
            Back to Home
        </a>
    </div>
</div>
<div class="ui segment">
    <router-outlet></router-outlet>
</div>