<p>anularforms works!</p>

<form #myform= "ngForm" (ngSubmit)="submitform()">
    <input type="text" name="name" class="form-control"placeholder="name" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="userModel.name"
     #name="ngModel"required><br>
     <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    <p>{{name.touched}}</p> <p>{{name.pristine}}</p>
    <input type="email" name="email" placeholder="email"
     #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
      class="form-control" pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"
      [(ngModel)]="userModel.email" required><br>
      <div *ngIf="email.errors && (email.invalid ||email.touched)">
          <small class="text-danger"*ngIf="email.errors.required">email is required</small>
          <!-- <small class="text-danger" *ngIf="email.errors.pattern">email pattern mismatch</small> -->
      </div>
    <input type="password" name="password" placeholder="password"required [(ngModel)]="userModel.password"><br>
    <button type="submit"class="btn btn-primary">submit</button><br>
</form>
<div>
    {{myform.form.valid}}
</div>
