<div class="ui container home-container">
    <div class="ui cards">
        <div class="card" routerLink="/helper">
            <div class="content">
                <div class="center aligned header">How to use</div>
                <div class="center aligned description">
                    <p>This module is all about HTML element styles</p>
                </div>
            </div>
        </div>
        <div class="card" routerLink="/welcome">
            <div class="content">
                <div class="center aligned header">Welcome</div>
                <div class="center aligned description">
                    <p>This module is all about Signin and Signup</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    test code
</div>
